/* === Fonts === */
@font-face {
  font-family: "Amatic SC";
  font-style: normal;
  font-weight: 400;
  src: local("Amatic SC Regular"), local("AmaticSC-Regular"),
    url("./../fonts/amatic-sc/amatic-sc-v13-latin-regular.woff2")
      format("woff2"),
    url("./../fonts/amatic-sc/amatic-sc-v13-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  src: local(""),
    url("./../fonts/oswald/oswald-v31-latin-300.woff2") format("woff2"),
    url("./../fonts/oswald/oswald-v31-latin-300.woff") format("woff");
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./../fonts/oswald/oswald-v31-latin-regular.woff2") format("woff2"),
    url("./../fonts/oswald/oswald-v31-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("./../fonts/oswald/oswald-v31-latin-700.woff2") format("woff2"),
    url("./../fonts/oswald/oswald-v31-latin-700.woff") format("woff");
}

:root {
  --gap: 16px;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

header,
body,
input,
textarea,
button,
select,
option {
  font-family: "Oswald", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.5; /* statt 1.5rem */
  letter-spacing: 0.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

body {
  margin: 0;
  background-color: #fafafa;
  background-image: url("/src/img/body.png");
}

/* === Layout === */
header {
  padding: 20px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
  background-color: #fff;
  font-size: 48px;
  text-align: center;
}

main {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 260px;
  gap: var(--gap);
  padding: var(--gap);
  max-width: 80%;
  margin: 0 auto;
}

.layout {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  border: 2px solid #bdc3c7;
}

section.content {
  min-width: 0;
}

aside.nav {
  border-left: 1px solid #e9ecef;
  padding-left: var(--gap);
}

.box {
  background-color: #e9ecef;
  padding: 20px;
  border-radius: 8px;
}

.bilanz div {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: baseline;
}

.bilanz dt {
  font-weight: 400;
}

.bilanz dd {
  margin: 0;
  font-weight: 700;
  display: flex;
  gap: 4px;
}

.currency {
  font-weight: 400;
  opacity: 0.7;
}

@media (max-width: 860px) {
  main.layout {
    grid-template-columns: 1fr;
  }
  aside.nav {
    border-left: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    padding-top: var(--gap);
  }
}

/* === Eingabeformular === */
[class$="-eingabe-gruppe"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
}

label,
input {
  line-height: 2.5rem;
  border: 0.1rem solid #ced4da;
}

label {
  width: 8.2rem;
  padding: 0.5rem 1.8rem 0.5rem 2rem;
  background-color: #e9ecef;
  color: #495057;
  text-align: center;
  cursor: text;
}

[class$="-eingabe-gruppe"] > :first-child {
  border-right: none;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

[class$="-eingabe-gruppe"] > :last-child {
  border-left: none;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

input {
  padding: 0.375rem 0.75rem;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  color: #495057;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.titel-typ-eingabe-gruppe > label:nth-of-type(2) {
  width: 12rem;
  background-color: #d4edda;
  color: #28a745;
  border-color: #c3e6cb;
  border-right: none;
  border-left: none;
}

.titel-typ-eingabe-gruppe > label:nth-of-type(3) {
  width: 12rem;
  background-color: #f8d7da;
  color: #dc3545;
  border-color: #f5c6cb;
  border-left: none;
}

.titel-typ-eingabe-gruppe > input[type="radio"] {
  display: none;
}

.titel-typ-eingabe-gruppe > input[type="radio"]:checked + label {
  color: #fff;
  z-index: 1;
}

.titel-typ-eingabe-gruppe > input[type="radio"]:nth-of-type(2):checked + label {
  background-color: #28a745;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.titel-typ-eingabe-gruppe > input[type="radio"]:nth-of-type(3):checked + label {
  background-color: #dc3545;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

button {
  max-width: 24rem;
  line-height: 2.5rem;
  font-size: 1.4rem;
  background-color: #007bff;
  border: 0.1rem solid #007bff;
  padding: 0.5rem 2rem;
  color: #fff;
  border-radius: 1.5rem;
  margin: 1rem 0;
  cursor: pointer;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

button:focus {
  border-color: #0062cc;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  z-index: 1;
}
