/* === ALLGEMEIN === */

html {
  font:
    16px Verdana,
    Arial,
    sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  display: block;
  border-style: solid;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 1.5rem 0;
}

/* === NAVIGATIONSLEISTE === */

#navigation {
  height: 3.5rem;
  background: #212121;
  color: #fff;
  line-height: 3.5rem;
  padding: 0 2rem;
  margin: 0 0 3rem;
}

#navigation > ul {
  height: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  float: right;
  font-size: 0;
}

#navigation > ul > li {
  display: inline-block;
  height: 100%;
  font-size: 0;
}

#navigation > ul > li > a {
  display: inline-block;
  padding: 0 0.75rem;
  font-size: 1rem;
}

#navigation > ul > li > a.active {
  background: #484848;
}

/* === JUMBOTRON === */

.jumbotron {
  width: 65%;
  margin: 0 auto 3rem;
  padding: 2rem;
  background: #e1e2e1;
  border-radius: 4px;
}

.jumbotron > header > h2 {
  font-size: 3.5rem;
  font-weight: 300;
  margin-bottom: 30px;
  margin-top: 0;
}

.jumbotron > header > p {
  font-size: 1.25rem;
}

/* === FORMULAR === */

form:not(select, label) {
  display: grid;
}

input[type="text"],
input[type="password"],
textarea,
select {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 20px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

textarea,
select,
label {
  color: #818181;
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
}

.formButtons > button[type="submit"] {
  background-color: green;
  border: 1px solid #ccc;
  color: #fafafa;
  border-radius: 8px;
  padding: 10px;
}

.formButtons > button[type="reset"] {
  background-color: darkred;
  border: 1px solid #fafafa;
  color: #fff;
  border-radius: 8px;
  padding: 10px;
}
